body{
    scroll-behavior: smooth;
}
a{
    color: black;
    text-decoration: none;
}


@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(-10px) scale(0.99);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@media(min-width:700px){
    body{
        margin: 0;
    }

    .content-background{
        height:800px ;
        width: 100%;
        position: absolute;
        z-index: -2;
        overflow: hidden;
    }

    .content-background-image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 1.4;
    }


    .nav{
        margin-right: 20px;
        font-family: 'Mulish', sans-serif;
        position: relative;
        display: flex;
        height: 100px;
        width: auto;
        gap: 20px;
        justify-content:flex-end;

    }
    
    
    #nav-logo{
        height:3rem;
    }
    
    
    .nav-sub{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 80px;;
        width: 120px;
        align-items: center;
        font-size: 1.4rem;
      
    }
    
    .content{
        height: 700px;
        width: 100%;
        display: flex;
        gap: 50px;
        justify-content:space-between;
        align-items: center;
        animation: fade-up 0.2s;
        
    }

    #content-company-heading{
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-left: 3rem;
        border:2px solid black;
        height: 20vw;
        width: 13%;
        background-color: rgb(86, 82, 82);
        border-top-right-radius: 30px;
        border-top-left-radius:30px;
    }

    #content-company-heading-text{
        font-family: 'Mulish', sans-serif;
        font-size: 5vw;
        color: white;
        
    }

    #yellow{
        color: rgb(239, 239, 55);
    }

    .content-text{
        opacity: 0.9;
        display: flex;
        flex-shrink: initial;
        flex-direction: column;
        gap: 10px;
        height: 300px;
        width: 40%;
        justify-content: center;
        align-items: center;
        background-color: white;
        //border: 2px solid black;
        margin-right: 10px;
        border-radius: 10px;
        z-index: -1;
    }


    .content-text-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        height: 100px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-text-description{
        text-indent: 2%;
        height: 200px;
        width: 70%;
        display: flex;
        align-items: center;
    }


    #content-text-descroption-i1{
        font-family: "FDM","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        font-size: 1.2em;
    }

   
    .backend{
        background-color: white;
        z-index: 1;
        opacity: 1;
    }
    
    
    .card{
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: row;
        height: 600px;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        margin-bottom: 10px;
    }
    
    .card-img{
        margin-top: 20px;
        height: 800px;
        width: 600px;
        display: flex;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
    }
    
    
    .card-img-specific{
        border: 2px solid black;
        border-radius: 10px;;
        height: 50%;
        width: 100%;
        object-fit: cover;
    }
    
    .card-info{
        height: 600px;
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
    }
    
    .card-info-title{
        width: 100%;
        background-color: rgb(255, 168, 37);
        margin-top: 2.5rem;
        font-size: 1.4rem;
        height: 120px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }
    
    .card-info-description{
        text-align: center;
        text-wrap: wrap;
        font-size: 1.3rem;
        height:300px ;
        display: flex;
        align-items: baseline;
        text-align:justify;
    
    }
}


@media(max-width:700px){
    body{
        margin: 0;
    }

    .content-background{
        height:700px ;
        width: 100%;
        position: absolute;
        z-index: -2;
        overflow: hidden;
    }

    .content-background-image{
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 1.4;
    }


    .nav{
        margin-right: 20px;
        font-family: 'Mulish', sans-serif;
        position: relative;
        display: flex;
        height: 200px;
        width: auto;
        gap: 20px;
        justify-content:center;

    }
    
    
    #nav-logo{
        height:3rem;
    }
    
    
    .nav-sub{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 80px;;
        width: 120px;
        align-items: center;
        font-size: 1.2rem;
      
    }
    
    .content{
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content:center;
        align-items: center;
        animation: fade-up 2s;
        
    }

    #content-company-heading{
        display: none;
    }

    #content-company-heading-text{
        font-family: 'Mulish', sans-serif;
        font-size: 5rem;
        color: white;
        
    }

    #yellow{
        color: rgb(239, 239, 55);
    }

    .content-text{
        opacity: 0.9;
        display: flex;
        flex-shrink: initial;
        flex-direction: column;
        gap: 10px;
        height: 300px;
        width: 40%;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid black;
        margin-right: 10px;
        border-radius: 10px;
        z-index: -1;
    }


    .content-text-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        font-size: 3.2vh;
        height: 100px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
    }

    .content-text-description{
        text-indent: 2%;
        height: 200px;
        width: 70%;
        display: flex;
        align-items: center;
    }


    #content-text-descroption-i1{
        font-family: "FDM","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        font-size: 2.4vh;
    }

   
    .backend{
        background-color: white;
        z-index: 1;
        opacity: 1;
    }
    .card{
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-img{
        display: flex;
        justify-content: center;
    }

    .card-img-specific{
        border: 2px solid black;
        border-radius: 20px;;
        height: 300px;
        width: 300px;
        object-fit: cover;
    }


    .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .card-info-title{
        background-color: rgb(255, 168, 37);
        display: flex;
        justify-content: center;
    }

    .card-info-description{
        display: flex;
        justify-content: center;
    }
}